__pycache__/
.vscode/
.ipynb_checkpoints/
results/
vscode/
res/
runs/
logs/
backup/
lightning_logs/
prev_runs/
data/
narvi_runs/
tmp/
**/*.ckpt
**/*.pth
**/*.pkl
**/*.png
**/*.jpg
*.ckpt
*.pth
*.pkl
*.json
*.txt
**/__pycache__
*.ipynb
*.avi